<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326732084118-u1afnf1b337jmc2a15l59eiost6e1vog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326732084118-u1afnf1b337jmc2a15l59eiost6e1vog</string>
	<key>API_KEY</key>
	<string>AIzaSyCMckcP_sjMn5V554wOV9GLqWrg-HyjwTA</string>
	<key>GCM_SENDER_ID</key>
	<string>326732084118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appmob.scuver</string>
	<key>PROJECT_ID</key>
	<string>scuver-data</string>
	<key>STORAGE_BUCKET</key>
	<string>scuver-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326732084118:ios:7c3e2e21f335b66330e3b7</string>
	<key>DATABASE_URL</key>
	<string>https://scuver-data-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
